<h1>Toutes les annonces</h1>
<button><a href="{% url 'new-advert' %}">Poster une annonce</a></button>
<button><a href="{% url 'logout' %}">Me déconnecter</a></button>
<ul>
    <!-- Iterate over object_list -->
    {% for object in object_list %}
    <a href="{% url 'advert' object.pk %}">
        <!-- Display Objects -->
        <li>{{ object.title }}</li>
    </a>
    <li>{{ object.price }}</li>
    <li>{{ object.user }}</li>


    <hr />
    <!-- If objet_list is empty  -->
    {% empty %}
    <li>Pas d'annnonces pour l'instant.</li>
    {% endfor %}
</ul>